# directories
.vscode/
FINE.egg-info
.idea/
__pycache__/
.ipynb_checkpoints/
*.local/
*.eggs/
*.testing/
*.examples/
*.build/
*.dist/
*.docs/build/
.vscode/

# file types to ignore
*.pyc
*.egg-info
*.log
*.lp
*.glp
*.mps
.coverage
