image: mambaorg/micromamba

stages:
  - test
  - build

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""

# Templates

# NOTE on rules: Rules are evaluated in order until the first match. When a match is
# found, the job is either included or excluded from the pipeline, depending on
# the configuration.

.test_template:
  stage: test
  tags:
    - workstation
  variables:
    CONDA_PKGS_DIRS: "$CI_PROJECT_DIR/.cache/pkgs"
  cache:
    key:
      files:
        - requirements_dev.yml 
        - .gitlab-ci.yml
      prefix: ${CI_JOB_NAME}
    paths:
      # Cache dir needs to be in project dir
      - ".cache/pkgs"
    policy: pull
  before_script:
    - micromamba install -n base -y --file=requirements_dev.yml
  rules:
    # Switch from branch pipeline to merge pipeline once a merge request has
    # been created on the branch.
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS && $CI_PIPELINE_SOURCE == "push"
      when: never
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never


.test_docker_template_noupdate:
  stage: test
  image: jugit-registry.fz-juelich.de/iek-3/shared-code/fine/fine-dev:latest 
  before_script:
    - python -m pip install -e .
  rules:
    # Do not run for pushes to master or develop and for merge requests to master
    - if: $CI_COMMIT_BRANCH == "master"
      when: never
    - if: $CI_COMMIT_BRANCH == "develop"
      when: never
    - if: $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"
      when: never
    # Switch from branch pipeline to merge pipeline once a merge request has
    # been created on the branch.
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS && $CI_PIPELINE_SOURCE == "push"
      when: never
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never
    - changes:
        - pyproject.toml
        - requirements.yml
        - requirements_dev.yml
      when: never
    - when: on_success


.test_docker_template:
  stage: test
  image: jugit-registry.fz-juelich.de/iek-3/shared-code/fine/fine-dev:latest 
  variables:
    CONDA_PKGS_DIRS: "$CI_PROJECT_DIR/.cache/pkgs"
  cache:
    key:
      files:
        - requirements_dev.yml 
        - .gitlab-ci.yml
      prefix: ${CI_JOB_NAME}
    paths:
      # Cache dir needs to be in project dir
      - ".cache/pkgs"
    policy: pull
  before_script:
    - micromamba install -n base -y --file=requirements_dev.yml
  rules:
    # Do not run for pushes to master or develop and for merge requests to master
    - if: $CI_COMMIT_BRANCH == "master"
      when: never
    - if: $CI_COMMIT_BRANCH == "develop"
      when: never
    - if: $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"
      when: never
    # Switch from branch pipeline to merge pipeline once a merge request has
    # been created on the branch.
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS && $CI_PIPELINE_SOURCE == "push"
      when: never
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never
    - changes:
        - pyproject.toml
        - requirements.yml
        - requirements_dev.yml
      when: on_success

.build_template:
  stage: build
  tags:
    - workstation
  image: docker@sha256:c8bb6fa5388b56304dd770c4bc0478de81ce18540173b1a589178c0d31bfce90
  services:
    - docker:dind@sha256:c8bb6fa5388b56304dd770c4bc0478de81ce18540173b1a589178c0d31bfce90

# Tests

test-code:
  extends: .test_template
  script:
    - python -m pytest --cov=fine test/
  rules:
    # Run only for pushes to master or develop and for merge requests to master.
    # Do not run for scheduled pushes to master (runs `test-code-push-cache` instead).
    - if: '$CI_PIPELINE_SOURCE == "schedule" && $CI_COMMIT_BRANCH == "master"'
      when: never
    - if: '$CI_COMMIT_BRANCH == "master"'
    - if: '$CI_COMMIT_BRANCH == "develop"'
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"'

test-code-push-cache:
  extends: .test_template
  cache:
    policy: push
  script:
    - python -m pytest --cov=fine test/
  rules:
    # Run only for scheduled pushes to master.
    - if: '$CI_PIPELINE_SOURCE == "schedule" && $CI_COMMIT_BRANCH == "master"'

test-code-docker:
  extends: .test_docker_template
  script:
    - python -m pytest --cov=fine test/

test-code-docker-noupdate:
  extends: .test_docker_template_noupdate
  script:
    - python -m pytest --cov=fine test/

test-notebooks:
  extends: .test_template
  script:
    # Run nbval to test all notebooks in examples folder and show 20 longest
    # cell executing durations. With 'nbval-lax', notebooks are only tested for
    # execution errors Cells tagged 'nbval-check-output' are checked for
    # consistent output Cells tagged 'nbval-skip' are skipped.
    - python -m pytest --nbval-lax --nbval-current-env --durations=20 examples/
  rules:
    # Run only for pushes to master or develop and for merge requests to master.
    - if: '$CI_COMMIT_BRANCH == "master"'
    - if: '$CI_COMMIT_BRANCH == "develop"'
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"'

test-notebooks-docker:
  extends: .test_docker_template
  script:
    - python -m pytest --nbval-lax --nbval-current-env  --durations=20 examples/

test-notebooks-docker-noupdate:
  extends: .test_docker_template_noupdate
  script:
    - python -m pytest --nbval-lax --nbval-current-env  --durations=20 examples/

test-formatting:
  stage: test
  image: pyfound/black:latest_release
  script:
    # Dry-run black auto-formatter. If the code needs reformatting this test
    # will fail.
    - black --version
    - black --check fine
    - black --check test
  rules:
    # Switch from branch pipeline to merge pipeline once a merge request has
    # been created on the branch.
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS && $CI_PIPELINE_SOURCE == "push"
      when: never
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never
    - when: on_success 

# Deployment

build-master-latest:
  extends: .build_template
  script:
    # Login to the DockerHub repo using a specialized access token.
    # Then, build the docker image with the tested code and tag it
    # with the current version, as well as latest.
    # Afterwards, push to DockerHub.
    - docker login -u fzjiek3 -p $DOCKER_AT
    - docker build -t "fzjiek3/fine:latest" .
    - docker push fzjiek3/fine:latest
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: never
    - if: $CI_COMMIT_BRANCH == "master"

build-tag:
  extends: .build_template
  script:
    - docker login -u fzjiek3 -p $DOCKER_AT
    - docker build -t fzjiek3/fine:${CI_COMMIT_TAG} .
    - docker push fzjiek3/fine:${CI_COMMIT_TAG}
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: never
    - if: $CI_COMMIT_TAG

# Push develop build to local jugit registry
build-dev:
  extends: .build_template
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - export DEV_TAG=jugit-registry.fz-juelich.de/iek-3/shared-code/fine/fine-dev:${CI_COMMIT_SHA}
    - docker build -t $DEV_TAG -t "jugit-registry.fz-juelich.de/iek-3/shared-code/fine/fine-dev:latest" .
    - docker push $DEV_TAG
    - docker push jugit-registry.fz-juelich.de/iek-3/shared-code/fine/fine-dev:latest
  rules:
    - if: $CI_COMMIT_BRANCH == "develop"
