# folders
.pytest_cache/
.vscode/
bin/
tests/data/output/
tests/data/InputData/
.vscode/
.pytest_cache/
spagat.egg-info/

# files
*.ipynb_checkpoints
*__pycache__
*__pycache__*
*.pyc
*-checkpoint.ipynb
